.App {
  text-align: center;
  padding: 20px;
  background-color: rgb(219, 231, 227);
}

.table-container {
  position: relative;
}

.MonthSelect {
  position: absolute;
  top: 0;
  right: 0;
}
.SearchInput {
  position: absolute;
  top: 0;
  left: 0;
}

/* Styling for the table */
.TransactionTable {
  width: 100%;
  border-collapse: collapse;
}

.TransactionTable th,
.TransactionTable td {
  padding: 8px;
  border: 1px solid #ddd;
}
.pagination {
  margin-top: 10px;
}

.pagination button {
  margin-right: 5px;
}

.page-entries {
  margin-left: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.SearchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 300px;
}

.summary-box {
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.summary-box p {
  margin: 5px 0;
}
